.App {
  font-family: sans-serif;
  text-align: center;
}
/* .main-div {
  min-height: 100vh;
  background-color: #fcf6f6;
  
  /* display: flex; */
/* justify-content: center;
  text-align: center;
} */

.custom-appbar {
  padding: 30px;
  text-align: center;
  font-size: 30px;
  position: sticky;
}

/* .child-div {
  background-color: white;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 50px;
  width: 350px;
} */
/* 
button {
  background-color: rgb(228, 224, 17);
} */
/* h1 {
  color: rgb(14, 13, 13);
} */
/* li {
  list-style-type: none;
} */
/* .each-item {
  background: rgb(227, 218, 201);
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 50px;
  background: rgb(227, 218, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* input[type="checkbox"]:checked + label.strikethrough {
  text-decoration: line-through;
} */

/* .btn-delete {
  border-radius: 20%;
  font-size: 50%;
  background-color: rgb(227, 218, 201);
  border-width: 50%;
} */

/* .custom-appbar {
  color: red;
  background-color: lightcyan;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
} */
